@media (max-width: 600px){
h1{
font-size: 20px;
}
p{
font-size: 4px;

}
@media (min-width: 601px){
h1{
font-size: 30px;
}
p{
font-size: 14px;
}
@media (min-width: 768px){
h1{
font-size: 40px;
}
p{
font-size: 24px;
}